<div class="page-banner" style="height: 160px">
</div>

<div class="container d-flex flex-column align-items-center" data-controller="days-template week-select">
  <h1 class="mt-4">Let's plan our meals for the week</h1>
  <p>Select the portions you want for each day</p>

  <div data-controller="sortable" id="calendar" style="position: relative;">
    <div class="calendar-overlay d-none" data-week-select-target="overlay"></div>
    <div class="calendar-spinner d-none" data-week-select-target="spinner">
      <%= image_tag "loading.gif", class: "spinning", width: 160, height: 160 %>
    </div>

    <div data-controller="slider">
      <div>
        <label for="customRange" class="form-label" data-slider-target="sliderValue">Family Size: 1</label>
        <input type="range" class="form-range" min="1" max="10" step="1" value="1" id="customRange" data-week-select-target="value" data-action="input->slider#updateValue">
      </div>

      <%= week_calendar(number_of_weeks: 1, events: [], attribute: :date) do |date, day| %>
        <div class="calendar-day">
          <% ["breakfast", "lunch", "dinner"].each do |category| %>
            <div class="meal-wrapper">
              <div class="meal-section mb-3 tiny-card btn btn-outline-primary" data-category="<%= category.capitalize %>" data-day="<%= day %>" data-action="click->slider#addButton" data-slider-target="display">
                <div class="meal-header m-0">
                  <span><%= category.capitalize %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="btn btn-primary mb-4" data-action="click->week-select#generate">
    Generate Week
  </div>

</div>
