<div class="page-banner" style="height: 160px">
</div>

<div class="container d-flex flex-column align-items-center" data-controller="days-template slider">
  <h1 class="mt-4">Let's plan our meals for the week</h1>
  <p>Select the portions you want for each day</p>


  <div data-controller="sortable" id="calendar">
    <div>
      <label for="customRange" class="form-label" data-slider-target="sliderValue">Family Size: 1</label>
      <input type="range" class="form-range" min="1" max="10" step="1" value="1" id="customRange" data-slider-target="value" data-action="input->slider#updateValue">
    </div>

    <%= week_calendar(number_of_weeks: 1, events: [], attribute: :date) do |date, day| %>
      <div class="calendar-day">

        <% ["breakfast", "lunch", "dinner"].each do |category| %>
          <div class="meal-wrapper">
            <div class="meal-section mb-3 tiny-card btn btn-outline-primary" data-category="<%= category.capitalize %>" data-day="<%= date.strftime('%A').downcase %>" data-action="click->slider#addButton" data-slider-target="display">
              <div class="meal-header m-0">
                <span><%= category.capitalize %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# <%= link_to "Generate Week", week_path(current_user.weeks[-2] ? current_user.weeks[-2] : current_user.weeks[-1]), %>
                              <%# class: "btn btn-primary mb-4", data: { action: "click->week-select#generate" } %>
  <div class="btn btn-primary mb-4" data-action="click->slider#generate"></div>
</div>

<%#= simple_form_for @week, url: weeks_path do |f| %>
  <%#= f.submit "Generate meals",
        class: "btn btn-primary my-3",
        data: { turbo_submits_with: "<i class='fa-light fa-spinner fa-spin'></i>".html_safe } %>
<%# end %>
