<!-- Banner -->
<div class="page-banner">

</div>

<div class="container mb-4" data-controller="week-loading" data-week-id="<%= @week.id %>" data-week-generation-week-id-value="<%= @week.id %>">

  <!-- Today Section -->
  <% if @today.present? %>
    <div class="today-section mt-3 mb-2">
      <%= link_to week_day_path(@week, @today), class: "text-decoration-none" do %>
        <h2 class="highlight-color">
          Today
        </h2>
      <% end %>

      <div class="row">
        <% meals = ["breakfast", "lunch", "dinner"] %>
        <% meals.each do |name| %>
          <% meal = @today.dishes.where(category: name) %>
          <% unless meal.empty? %>
            <div class="col-md-4 mb-4">
              <div class="card recipe-card today-card position-relative">
                <% recipe_image = "recipe_images/#{meal[0].recipe.name.downcase.gsub(/[ \-]/, '_')}.png" %>
                <%= image_tag recipe_image, class: "img-fluid card-img-top", onerror: "this.src='/assets/flipcard_placeholder.jpg'" %>
                <div class="card-body">
                  <p class="meal-category mb-1"><%= meal[0].category.capitalize %></p>
                  <h5 class="card-title"><%= meal[0].recipe.name %></h5>
                  <%= link_to "", dish_path(meal[0]), class: "stretched-link" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <hr class="mt-0 mb-3 text-muted">

  <!-- Week Section -->
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="highlight-color m-0">Week Plan</h2>
    <div class="mb-2 d-flex justify-content-end gap-2">
      <%= link_to week_shopping_items_path(@week), class: "btn btn-outline-custom btn-sm d-flex align-items-center gap-2" do %>
        <i class="fa-solid fa-basket-shopping p-1"></i>
        <span>Shopping List</span>
      <% end %>
      <% if @week.next_week.nil?%>
        <%= link_to new_week_path, class: "btn btn-primary-custom btn-sm d-flex align-items-center gap-2" do %>
          <i class="fa-solid fa-calendar-week p-1"></i>
          <span>Plan Next Week</span>
        <% end %>
      <% end %>
    </div>
  </div>

  <% calendar_start = Date.current.beginning_of_week %>

  <div id="calendar" style="position: relative;">
    <div class="calendar-load d-none" data-week-loading-target="load">
      <%= image_tag "loading.gif", width: 80, height: 80 %>
    </div>

    <%= week_calendar(number_of_weeks: @number_of_weeks, events: @calendar_days, attribute: :date) do |date, day| %>
      <% day = day.first %>
      <div class="calendar-day <%= 'today-highlight' if day&.date&.to_date == Date.current %>" id="<%= day.id unless day.nil? %>">

        <% if day %>
          <% ["breakfast", "lunch", "dinner"].each do |category| %>
            <div class="meal-section">
              <div>
                <span><%= category.capitalize %></span>
              </div>
              <% dishes = day.dishes.select { |dish| dish.category == category } %>
              <% puts "*" * 30 %>
              <% puts "Day: #{day.inspect}" %>
              <% puts "Dishes: #{dishes.inspect}" %>
              <% puts "*" * 30 %>
              <div class="sortable-list h-100"
                  data-controller="sortable"
                  data-day_id="<%= day.id %>"
                  data-category="<%= category %>">
                  <% if dishes.any? %>
                    <% dishes.each do |dish| %>
                      <% first_day = @recipe_first_day[dish.recipe_id] %>
                      <% 
                        is_leftover = false
                        if first_day
                          first_date = Date.parse(day.date.beginning_of_week.strftime("%Y-%m-%d"))
                          first_day_index = Date::DAYNAMES.index(first_day)
                          first_day_date = first_date + first_day_index
                          # Only leftover if NOT actual first_day for the recipe, and not before first_day
                          is_leftover = (day.date.strftime("%A") != first_day) && (day.date >= first_day_date)
                        end
                      %>
                      <div class="planner-card recipe-color-<%= @dish_colours[dish.recipe_id] %> w-100 position-relative h-100 align-content-center parent-element"
                        data-dish_id="<%= dish.id %>" data-recipe_name="<%= dish.recipe.name %>">
                        <%= link_to dish_path(dish),
                                    class: "stretched-link text-decoration-none" do %>
                          <p class="m-0 card-title">
                            <% if is_leftover %>
                              <%= first_day %> Leftovers
                            <% else %>
                              <%= dish.recipe.name.include?("with") ? dish.recipe.name.split("with")[0].strip : dish.recipe.name.split("and")[0].strip %>
                            <% end %>
                          </p>
                        <% end %>
                        <%= link_to dish_path(dish), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"fixed-btn p-1" do %>
                          <i class="fa-solid fa-xmark fa-sm" ></i>
                        <% end %>
                      </div>
                    <% end %>
                <% else %>
                  <div class="empty-meal h-100" data-week-loading-target="empty">
                <%# TODO: need build dishes_path generation logic %>
                  <%= button_to dishes_path,
                                method: :post,
                                params: {
                                  dish: {
                                    day_id: day.id,
                                    category: category,
                                  },
                                  new_id: "generate"
                                },
                                class: "p-1 text-muted text-decoration-none border-0 bg-transparent" do %>
                    <i class="fa-solid fa-plus fa-lg p-2"></i>
                  <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="calendar-day empty-day">
            <p class="text-muted small mb-0 align-content-center">No day created</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Plan next week & Shopping list buttons -->

</div>
