<h1>weeks show</h1>

<div data-controller="sortable" id="calendar">
  <%= week_calendar(number_of_weeks: 2, events: @week.days, attribute: :date )  do |date, day| %>
    <% day = day.first %>
    <div>
      <% if day %>

        <%= link_to week_day_path(@week, day) do %>
          <h3><%= day.date.strftime("%e") %></h3>
        <% end %>
        <% day.dishes.each do |dish| %>
          <ul class="sortable-list" id="day-<%= day.id %>">
            <li id="dish-<%= dish.id %>">
              <%= link_to dish_path(dish) do %>
                <%= dish.recipe.name %>
              <% end %>
            </li>
          </ul>
        <% end %>
      <% else %>
        <%= date.strftime("%e") %>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Shopping list", week_shopping_items_path(@week) %>
</div>
