<!-- Banner -->
<div class="page-banner">
  <div class="container">
    <div class="banner-inner">
      <h1 class="banner-title">Week Planner</h1>
      <p class="banner-subtitle">Check what you need to prepare!</p>
    </div>
  </div>
</div>

<div class="container" data-controller="week-loading" data-week-id="<%= @week.id %>" data-week-generation-week-id-value="<%= @week.id %>">

  <!-- Today Section -->
  <% if @today.present? %>
    <div class="today-section my-4">
      <%= link_to week_day_path(@week, @today), class: "text-decoration-none" do %>
        <h2 class="highlight-color">
          Today
          <i class="fa-solid fa-chevron-right fa-xs"></i>
        </h2>
      <% end %>

      <div class="row">
        <% meals = ["breakfast", "lunch", "dinner"] %>
        <% meals.each do |name| %>
          <div class="col-md-4">
            <% meal = @today.dishes.where(category: name) %>
            <% unless meal.empty? %>
              <div id="<%= name %>">
                <%= link_to dish_path(meal[0]), class: "text-decoration-none" do %>
                  <div class="card p-3 w-100 meal-card">
                    <p class="meal-category"><%= meal[0].category.capitalize %></p>
                    <h5 class="card-title"><%= meal[0].recipe.name %></h5>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="<%= name %>">
                <div class="card p-3 w-100 meal-card">
                  <p class="meal-category"><%= name.capitalize %></p>
                  <h5 class="card-title text-secondary">No meal for <%= name %></h5>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Week Section -->
  <% calendar_start = Date.current.beginning_of_week %>

  <div id="calendar" style="position: relative;">
    <div class="calendar-load d-none" data-week-loading-target="load">
      <%= image_tag "loading.gif", width: 80, height: 80 %>
    </div>

    <%= week_calendar(number_of_weeks: @number_of_weeks, events: @calendar_days, attribute: :date) do |date, day| %>
      <% day = day.first %>
      <div class="calendar-day <%= 'today-highlight' if day&.date&.to_date == Date.current %>" id="<%= day.id unless day.nil? %>">
        <% if day %>
          <% ["breakfast", "lunch", "dinner"].each do |category| %>
            <div class="meal-section">
              <div>
                <span><%= category.capitalize %></span>
              </div>
              <% dishes = day.dishes.select { |dish| dish.category == category } %>
              <div class="sortable-list h-100"
                  data-controller="sortable"
                  data-day_id="<%= day.id %>"
                  data-category="<%= category %>">
                  <% if dishes.any? %>
                    <% dishes.each do |dish| %>
                      <div class="planner-card w-100 position-relative h-100 align-content-center"
                        data-dish_id="<%= dish.id %>" data-recipe_name="<%= dish.recipe.name %>">
                        <%= link_to dish_path(dish),
                                    class: "stretched-link text-decoration-none" do %>
                          <p class="m-0 card-title">
                            <%= dish.recipe.name %>
                          </p>
                        <% end %>
                        <%= link_to dish_path(dish), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"fixed-btn p-1" do %>
                          <i class="fa-solid fa-xmark fa-sm" ></i>
                        <% end %>
                      </div>
                    <% end %>
                <% else %>
                  <div class="empty-meal h-100" data-week-loading-target="empty">
                <%# TODO: need build dishes_path generation logic %>
                    <%= link_to "#",
                                class: "p-1 text-muted text-decoration-none",
                                data: {
                                  bs_toggle: "tooltip", bs_placement: "bottom", bs_title: "Add meal",
                                  turbo: false
                                } do %>
                      <i class="fa-solid fa-plus fa-lg p-2"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="calendar-day empty-day">
            <p class="text-muted small mb-0 align-content-center">No day created</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Plan next week & Shopping list buttons -->
  <div class="mt-4 mb-4 d-flex justify-content-end gap-2">
    <%= link_to week_shopping_items_path(@week),
                class: "btn btn-outline-primary btn-sm d-flex align-items-center gap-2" do %>
      <span>Shopping list</span>
      <i class="fa-solid fa-chevron-right fa-xs"></i>
    <% end %>
    <%= link_to "Plan Next Week", new_week_path, class: "btn btn-primary btn-sm d-flex align-items-center gap-2" %>
  </div>

</div>
