<!-- banner -->
<div class="page-banner">
  <div class="container">

    <div class="banner-inner">
      <h1 class="banner-title">
        <%= @day.date.strftime("%A, %d %B") %>
      </h1>
      <p class="banner-subtitle">Check what you need to prepare!</p>
    </div>

  </div>
</div>

<% breakfasts = @day.dishes.where(category: "breakfast") %>
<% lunches    = @day.dishes.where(category: "lunch") %>
<% dinners    = @day.dishes.where(category: "dinner") %>

<div class="container mt-4">
  <div class="row">

    <!-- Breakfast -->
    <div class="col-md-4">

      <div class="meal-column">
        <h4>Breakfast</h4>
      </div>

      <% breakfasts.each do |dish| %>
        <%= link_to dish_path(dish), class: "text-decoration-none" do %>
          <div class="card p-3 mb-3">
            <h5><%= dish.recipe.name %></h5>
            <p>Ingredients:</p>
            <ul class="list mb-0">
              <% dish.recipe.ingredients.first(3).each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Lunch -->
    <div class="col-md-4">

      <div class="meal-column">
        <h4>Lunch</h4>
      </div>

      <% lunches.each do |dish| %>
        <%= link_to dish_path(dish), class: "text-decoration-none" do %>
          <div class="card p-3 mb-3">
            <h5><%= dish.recipe.name %></h5>
            <p>Ingredients:</p>
            <ul class="list mb-0">
              <% dish.recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Dinner -->
    <div class="col-md-4">

      <div class="meal-column">
        <h4>Dinner</h4>
      </div>

      <% dinners.each do |dish| %>
        <%= link_to dish_path(dish), class: "text-decoration-none" do %>
          <div class="card p-3 mb-3">
            <h5><%= dish.recipe.name %></h5>
            <p>Ingredients:</p>
            <ul class="list mb-0">
              <% dish.recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
