<!-- banner -->
<div class="page-banner">
  <div class="container">

    <div class="banner-inner">
      <h1 class="banner-title">
        <%= @day.date.strftime("%A, %d %B") %>
      </h1>
      <p class="banner-subtitle">Check what you need to prepare!</p>
      <%= link_to "‹ Previous day",
          week_day_path(@day.week, @day.previous_day),
          class: "text-decoration-none btn-ghost-white ms-2" if @day.previous_day %>

      <%= link_to "Next day ›",
          week_day_path(@day.week, @day.next_day),
          class: "text-decoration-none btn-ghost-white ms-2" if @day.next_day %>
    </div>

  </div>
</div>

<% breakfasts = {
  dishes: @day.dishes.where(category: "breakfast"),
  name: "Breakfast"
  } %>
<% lunches    = {
  dishes: @day.dishes.where(category: "lunch"),
  name: "Lunch"
  } %>
<% dinners    = {
  dishes: @day.dishes.where(category: "dinner"),
  name: "Dinner"
  } %>
<% all_meals = [breakfasts, lunches, dinners] %>

<div class="container mt-4">
  <div class="row">

      <!-- Back -->
      <div class="d-flex justify-content-between mb-1 p-1">
        <%= link_to "‹ Back", week_path(current_user.weeks.last), class: "btn btn-ghost ms-2" %>
      </div>

    <% ["breakfast", "lunch", "dinner"].each do |category| %>
      <div class="col-md-4">
        <div class="meal-column">
          <h4><%= category.capitalize %></h4>
        </div>

        <% category_dishes = @dishes.select {|dish| dish.category == category} %>

        <div data-controller="flipcard">
          <% category_dishes.each do |dish| %>
            <div class="position-relative flipcard" data-action="click->flipcard#flip">
              <div id="flipcard">
                <div class="front">
                  <%= link_to dish_path(dish), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-dish-btn" do %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>
                  <%= image_tag "onb-1.jpg", style: "width: 100%;" %>
                  <div class="front-title">
                    <%= dish.recipe.name %>
                  </div>
                </div>
                <div class="card p-3 mb-3 back d-flex flex-column">
                  <%= link_to dish_path(dish), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-dish-btn" do %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>
                  <h5><%= dish.recipe.name %></h5>
                  <p class="mb-0 text-muted">Ingredients:</p>
                  <ul class="list mb-0 text-muted">
                    <% dish.recipe.ingredients.first(3).each do |ingredient| %>
                      <li><%= ingredient.name %></li>
                    <% end %>
                  </ul>
                  <%= "..." if dish.recipe.ingredients.count > 3 %>
                  <%= link_to "View Recipe", dish_path(dish), class: "btn btn-primary text-decoration-none mt-auto" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--
<%= simple_form_for Dish.new do |f| %>
  <%= f.association :recipe %>
  <%= f.input :portions %>
  <%= f.input :category, collection: ["breakfast", "lunch", "dinner"] %>
  <input type="hidden" name="dish[day_id]" value="<%= @day.id %>">
  <%= f.submit %>
<% end %>

-->
