<!-- banner -->
<div class="page-banner">
  <div class="container">

    <div class="banner-inner">
      <h1 class="banner-title">
        <%= @day.date.strftime("%A, %d %B") %>
      </h1>
      <p class="banner-subtitle">Check what you need to prepare!</p>
      <%= link_to "‹ Previous day",
          week_day_path(@day.week, @day.previous_day),
          class: "text-decoration-none btn-ghost-white ms-2" if @day.previous_day %>

      <%= link_to "Next day ›",
          week_day_path(@day.week, @day.next_day),
          class: "text-decoration-none btn-ghost-white ms-2" if @day.next_day %>
    </div>
  </div>
</div>

<% breakfasts = {
  dishes: @day.dishes.where(category: "breakfast"),
  name: "Breakfast"
  } %>
<% lunches    = {
  dishes: @day.dishes.where(category: "lunch"),
  name: "Lunch"
  } %>
<% dinners    = {
  dishes: @day.dishes.where(category: "dinner"),
  name: "Dinner"
  } %>
<% all_meals = [breakfasts, lunches, dinners] %>

<div class="container mt-4" data-day-id="<%= @day.id %>">
  <div class="row" data-controller="favorites">

      <!-- Back -->
    <div class="d-flex justify-content-between mb-1 p-1">
      <%= link_to "‹ Back", week_path(@day.week), class: "btn btn-ghost ms-2" %>
    </div>

    <% ["breakfast", "lunch", "dinner"].each do |category| %>
      <div class="col-md-4" data-day-id="<%= @day.id %>" data-category="<%= category %>">
        <div data-day-replaceable>
        <div class="meal-column">
          <h4><%= category.capitalize %></h4>
        </div>

        <% category_dishes = @dishes.select {|dish| dish.category == category} %>

        <div data-controller="flipcard">
          <% category_dishes.each do |dish| %>
          <div data-controller="loading">
            <div data-loading-target="content">

              <div class="position-relative flipcard mb-2" data-action="click->flipcard#flip">
              <div id="flipcard">
                <div class="front">
                  <div class="delete-dish-btn">
                    <a data-action="click->favorites#toggle" data-recipe-id="<%= dish.recipe.id %>" data-favorites-target="btns" class="icon-color-white p-1">
                      <i class="<%= current_user.favorited?(dish.recipe) ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %> fa-lg"></i>
                    </a>
                    <%= link_to dish_path(dish, new_id: "regenerate"),
                    class: "icon-color-white p-1",
                    data: { bs_toggle: "tooltip", bs_placement: "bottom", bs_title: "Generate new recipe", action: "click->loading#show", turbo_method: :patch, turbo_confirm: "Do you want to generate a new dish?" } do %>
                      <i class="fa-solid fa-arrows-rotate fa-lg"></i>
                    <% end %>
                    <%= link_to dish_path(dish), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"icon-color-white p-1" do %>
                      <i class="fa-regular fa-trash-can fa-lg" ></i>
                    <% end %>
                  </div>
                  <% if dish.recipe.image_url.present? %>
                    <%= image_tag dish.recipe.image_url %>
                  <% else %>
                    <%= image_tag 'flipcard_placeholder.jpg' %>
                  <% end %>
                  <div class="front-title">
                    <%= link_to dish_path(dish), class:"text-decoration-none card-day-h2" do %>
                      <h2><%= dish.recipe.name %></h2>
                    <% end %>
                      </div>
                    </div>

                    <div class="card p-3 mb-3 back d-flex flex-column">
                      <h5><%= dish.recipe.name %></h5>
                      <p class="mb-0 text-muted">Ingredients:</p>
                      <ul class="list mb-0 text-muted">
                        <% dish.recipe.ingredients.first(8).each do |ingredient| %>
                          <li><%= ingredient.name %></li>
                        <% end %>
                      </ul>
                      <div class="ps-3">
                      <%= "..." if dish.recipe.ingredients.count > 8 %>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <!-- loading -->
              <div class="d-none card p-4 flex-column align-items-center justify-content-center" data-loading-target="loading">
                <div class="spinner-border"></div>
                <p class="text-muted mt-3" data-loading-target="message">
                  Checking cookbook...
                </p>
              </div>
            </div>
          <% end %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
