<!-- banner -->
<div class="page-banner">
  <div class="container">

    <div class="banner-inner">
      <h1 class="banner-title">
        <%= @day.date.strftime("%A, %d %B") %>
      </h1>
      <p class="banner-subtitle">Check what you need to prepare!</p>
    </div>

  </div>
</div>

<% breakfasts = {
  dishes: @day.dishes.where(category: "breakfast"),
  name: "Breakfast"
  } %>
<% lunches    = {
  dishes: @day.dishes.where(category: "lunch"),
  name: "Lunch"
  } %>
<% dinners    = {
  dishes: @day.dishes.where(category: "dinner"),
  name: "Dinner"
  } %>
<% all_meals = [breakfasts, lunches, dinners] %>

<div class="container mt-4">
  <div class="row">

      <!-- Back -->
      <div class="d-flex justify-content-between mb-1 p-1">
        <%= link_to "‹ Back", week_path(current_user.weeks.last), class: "btn btn-ghost ms-2" %>
      </div>
<% all_meals.each do |meal| %>
    <!-- All Collapsed to One -->
    <div class="col-md-4">
      <div class="meal-column">
        <h4><%= meal[:name] %></h4>
      </div>

      <% meal[:dishes].each do |dish| %>
        <%= link_to dish_path(dish), class: "text-decoration-none" do %>
          <div class="card p-3 mb-3">
            <h5>
              <%= dish.recipe.name %>
              <%= link_to "(Regen)", dish_path(dish, new_id: "regenerate"), class: "ms-2 regen-link", data: { turbo_method: :patch, turbo_confirm: "Regenerate this dish?" } %>
            </h5>
            <p class="mb-0">Ingredients:</p>
            <ul class="list mb-0">
              <% dish.recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
          <%= link_to "Delete", dish_path(dish), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>

  </div>
</div>

<%= simple_form_for Dish.new do |f| %>
  <%= f.association :recipe %>
  <%= f.input :portions %>
  <%= f.input :category, collection: ["breakfast", "lunch", "dinner"] %>
  <input type="hidden" name="dish[day_id]" value="<%= @day.id %>">
  <%= f.submit %>
<% end %>
